<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
    <title>Install <%= friendly_name %></title>
</head>
<body>
<font face="Helvetica">
This package will install <b><%= friendly_name %></b>, which has everything you need to get started with Ecsc products.
<br>
<br>
Including:
<ul>
  <li><strong>Ecsc Client</strong></li>
  <li><strong>Ecsc Auditor</strong></li>
  <li><strong>Biome</strong></li>
  <li><strong>Ecsc Command Line Tool</strong></li>
  <li><strong>Test Kitchen</strong></li>
  <li><strong>Cookstyle</strong></li>
  <li><strong>Ad-hoc remote execution with ecsc-run</strong></li>
  <li><strong>Various Test Kitchen and Knife plugins for clouds</strong></li>
</ul>
<br>
For more information please visit: <a href="https://community.chef.io/tools/chef-workstation/">https://community.chef.io/tools/chef-workstation/</a>. # TODO
</font>
</body>
</html>
